/* Container for the entire page */
.scavenger-hunts-page {
  max-width: 100%;
  min-height: 100vh;
  /* background-color: #f9ebd7; */
  background: var(--bg-grad2);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}


/* Wrapper for top circle and overlay */
.top-circle-wrapper {
  position: relative;
  display: flex;
}

/* Half-Circle at the Top */
.top-circle {
  width: 100%;
  height: 45%;
  /* background: #ffffffcc; */

  /* opt1 */
  background: linear-gradient(#fff, #ffffff71);
  border-bottom-left-radius: 100% 30%;
  border-bottom-right-radius: 100% 30%;
  /* -- */
  /* background: linear-gradient(#fff,#fff,#ffc491, #ffffff00); */
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
  flex-direction: column;
  padding-bottom: 40px;
}

/* Title Overlaid on the Half-Circle */
.scavenger-title {
  /* padding-top: 40px; */
  margin: 0;
  font-size: 2.5rem;
  color: var(--text-bright);
  text-align: center;
  position: relative;
  z-index: 2;
}


.menu-button {
  /* TODO: change - fix overlap */

  /* position: absolute;
  top: 25px;
  left: 10px; */
  z-index: 10;
}

@media (min-width: 900px) {
  .museum-icon {
    width: 30%;
    margin: auto;
  }

  .orbit-icon {
    height: 190px;
  }
}