/* Half-Circle Header */
.top-circle-gen {
  width: 100%;
  height: 100px;
  background: var(--top-circle-grad);
  border-bottom-left-radius: 100% 30%;
  border-bottom-right-radius: 100% 30%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  gap: 10px;
    padding-bottom: 10px;

}

/* Title Overlaid on the Half-Circle */
.title-container-gen {
  margin: 0;
  font-size: 1rem;
  color: var(--text-bright);
  text-align: center;
  position: relative;
  z-index: 1;
}