/* Half-Circle Header */
.top-circle-gen {
  width: 100%;
  height: 80px;
  background: #ffffffcc;
  border-bottom-left-radius: 100% 30%;
  border-bottom-right-radius: 100% 30%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* padding: 10px 20px; */
  overflow: hidden;
  gap: 10px;
}

/* Title Overlaid on the Half-Circle */
.title-container-gen {
  margin: 0;
  font-size: 1rem;
  color: var(--text-bright);
  text-align: center;
  position: relative;
  z-index: 1;
}


/* TopCircle.css
  .title-container-gen{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    justify-self: center;
    width: 60%;

  }
  
  .title {
    margin: 0;
    font-size: 1.8rem;
    color: #fff;
    text-align: center;
    z-index: 1;
    text-wrap: wrap;
  }

  .back-button-container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 8px;
  }
  
  .back-button{
    background-color: transparent;
    border: none;
    font-size: larger;
    font-weight: bolder;
    color: #fff;
    width: fit-content;
    height:40px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .close-button:hover {
    background: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: 768px) {
    .top-circle-gen {
      padding: 20px;
      justify-content: center;
    }
    .title {
      font-size: 2.5rem;
    }
    .back-button-container {
      position: absolute;
      left: 50px;
      z-index: 10;
    }
  }
   */