
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --primary-color: #ff5a5f;
  --secondary-color: #1a1a1a;
  --bg-color: #f7f7f7;
  --text-dark: #202224;
  --text-light: #f7f7f7;
  --text-bright:#ff4b4b;
  --accent-color: #ffbf3e;
  --font-family: 'Montserrat', 'Hevetica',sans-serif;
  --bg-grad1: linear-gradient(135deg, #ff8b3e, #ff4b4b,#c01943);
  /* --menu-bg: linear-gradient(135deg, #ffb057, #d66049); */
  --menu-bg: linear-gradient(135deg, rgba(255, 203, 143, 0.915), #d66049);
  --bg-grad2: linear-gradient(135deg, #ff8b3e, #ff4b4b,#931a38);
  --text-bright-dark: #931a38;

  --bg-grad3: linear-gradient(135deg, #ffbf3e, #ff8d8d);
  
}

body {
  margin: 0;
  padding: 0 0 100px 0;
  /* doesnt wanna scroll to btm without ^ */
  font-family: var(--font-family);
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; */
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


img {
  max-width: 100%;
}