/* Global Styles */

.home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* font-family: 'Montserrat', sans-serif; */
  
  /* background: #f7f7f7; */
  /* background: var(--bg-home-grad); */
}

/* Navbar */
.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  background: rgba(255,255,255,0.95);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  z-index: 100;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.brand a {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  text-align: center;
}

.nav-links {
  display: none;
  flex-direction: row;
}

.nav-links.open {
  display: flex;
}

.nav-links a {
  margin-left: 20px;
  font-size: 1rem;
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
}

/* .nav-links a:hover {
  color: #ff5a5f;
} */

.menu-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}
/* TODO: why is there a menu-btn and a menu-button? */
.menu-button {
  background-color: #fff;
}

.menu-icon {
  width: 25px;
  height: 3px;
  background-color: #333;
  position: relative;
  display: block;
}

.menu-icon::before,
.menu-icon::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 3px;
  background-color: #333;
  left: 0;
  transition: all 0.3s;
}

.menu-icon::before {
  top: -8px;
}

.menu-icon::after {
  top: 8px;
}

/* Hero Section */
.hero {
  background: var(--bg-home-grad);
  text-align: center;
  color: #fff;
  padding: 50px 20px;
  height: 90vh;
  width: 100%;
  box-sizing: border-box;
  flex-direction: column;
  display: flex;
  align-content: space-around;
  align-items: center;
  min-height: fit-content;
}

.hero h1 {
  font-size: 2.8rem;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.cta-button {
  /* color: #cf214c; */
  color: var(--primary-color);
  font-weight: 800;
  /* transition: background 0.3s, color 0.3s; */
  font-size: 1.5rem;
  margin: 50px 0px;
  padding: 26px 22px;
  font-family: var(--font-heading);
}

/* Content Sections */
.content-section {
  padding: 40px 20px;
  background: #e6c8b0;
}

.wave-container {
  height: 100%; width: 100%;
  /* position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  overflow: hidden;
  line-height: 0; */
}

.museum-illustration {
  max-height: 100%;
  width: fit-content;
}
/* 
.footer {
  height: 15px;
  background: #9f6363;
} */

/* adjusting for larger screen instead of smaller */
@media only screen and (min-width: 900px) {

  .museum-illustration {
    height: 400px;
  }

  .cta-button {
    margin: 0px auto
  }

  .hero {
    padding: 10px 20px;
  }

  .content-section {
      padding: 40px 200px;
  }

}
